@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}

body {
  @apply bg-gray-50 text-gray-900;
}

table {
  @apply w-full text-sm border-collapse;
}

th,
td {
  @apply border border-gray-300 p-2;
}
